body{
    background-color:bisque;
    font-family: 'Arial';
}

h1{
    font-size: 50px;
}

img{
    width: 50%;
}

*{
    margin :0;
    box-sizing: border-box;

}

.container {
    width: 90%;
    max-width: 1200px;
    min-height: 600px;
    margin: 80px auto;
    border: 3px solid;

    display: grid;
    /*grid-template-columns: 20% 40% 40%;
    grid-template-rows: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);*/
    grid-template-areas:
        "e1 e8 e8 e7 e7 e7"
        "e2 e8 e8 e16 e16 e11"
        "e3 e8 e8 e16 e16 e11"
        "e4 e9 e9 e12 e12 e11"
        "e5 e10 e10 e13 e13 e11"
        "e6 e10 e10 e13 e13 e11"
        "e6 e10 e10 e13 e13 e11"
        "e6 e15 e14 e14 e18 e11"
    ;

}    
.element {
    color:#fff;
    font-size: 40px;
    text-align:center;
    /* width: 200px;
    height: 100px;*/

    display: flex;
    
    justify-content: center; /*flex-start , flex-end , left , right , space-between ,  space-evenly , center, space-around */
    align-items: center;

}

.element--1{
    /*background-color: slateblue;*/
    grid-area: e1;
    font-size: 20px;
    /*grid-row: 1/3;*/
}

.element--2{
    /*background-color: goldenrod;*/
    grid-area: e2;
    font-size: 20px;
    /*grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;*/
}


.element--3{
    /* background-color: seagreen;*/
    grid-area: e3;
    font-size: 20px;
}

.element--4{
    grid-area: e4;
}

.element--5{
    grid-area: e5;
}

.element--6{
    grid-area: e6;
}
.element--7{
    /*background-color: sienna;*/
    grid-area: e7;
    font-size: 30px;
}
.element--8{
    grid-area: e8;
}
.element--9{
    grid-area: e9;
    font-size: 30px;
}

.element--10{
    grid-area: e10;
    background-color: #fff;
    padding-right: 2px; 
}

.element--11{
    grid-area: e11;
}

.element--12{
    grid-area: e12;
    font-size: 30px;
}

.element--13{
    grid-area: e13;
    background-color: #fff;
    padding-left: 2px;
}
.element--14{
    grid-area: e14;
}
.element--15{
    grid-area: e15;
}
.element--16{
    grid-area: e16;
    font-size: medium;
}
.element--117{
    grid-area: e17;
}
.element--18{
    grid-area: e18;
}